<h1>TESTE</h1>
<h3>{{title}}</h3>

<button (click)="alterarTexto()">Alterar</button>

<ul>
  <li *ngFor="let todo of todos">

    {{todo.id}}.{{todo.title}}.{{todo.done}} -
    <button *ngIf="!todo.done" (click)="marcarComoConcluido(todo)"> Concluir </button> |
    <button *ngIf="todo.done" (click)="marcarComoNaoConcluido(todo)"> Remover </button>
    <button (click)="remove(todo)"> Remover </button>
  </li>
</ul>


<form [formGroup]="form">
      <fieldset>
            <label for="">Tarefa</label>
            <input
                type="text"
                placeholder="Titulo da tarefa"
                maxlength="60"
                formControlName="title">
                <!-- <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine"> Este campo deve conter entre 3 e 60 caracteres</small> -->
            <button>Salvar</button>
      </fieldset>
</form>

<!--
() = HTML para TS
[] = TS para HTML
[()] = TS para HTML e HTML para TS
-->
